<div class="row">
    <div class="col-md-12 mt-4 text-center">
        <h1>Dashboard</h1>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10 mt-4">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
              <div class="card h-100 cardsDash" (click)="getCompanys()">
                <div class="card-body">
                  <h5 class="card-title text-center">Compañías</h5>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100 cardsDash" (click)="getbotContainer()">
                <div class="card-body">
                  <h5 class="card-title text-center">Contenedor de bot</h5>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100 cardsDash" (click)="getplatforms()">
                <div class="card-body">
                  <h5 class="card-title text-center">Plataformas</h5>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100 cardsDash" (click)="getLicenses()">
                <div class="card-body">
                  <h5 class="card-title text-center">Licencias</h5>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100 cardsDash" (click)="getUserTypes()">
                <div class="card-body">
                  <h5 class="card-title text-center">Tipos de usuario</h5>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100 cardsDash" (click)="getPermissions()">
                <div class="card-body">
                  <h5 class="card-title text-center">Permisos</h5>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100 cardsDash" (click)="getStatistics()">
                <div class="card-body">
                  <h5 class="card-title text-center">Estadisticas</h5>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>