<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="nav.visible">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-size: 28px; font-weight: 600;" href="/">TrafiBot</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!userService.loggedInSuperU()">

        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="userService.loggedInSuperU()">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard/superUser/companys']">Compañías</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard/superUser/licenses']">Licencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard/superUser/botContainers']">Bot container</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard/superUser/userTypes']">Tipo de usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard/superUser/platforms']">Plataformas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard/superUser/permissions']">Permisos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard/superUser/statistics']">Estadisticas</a>
          </li>
        </ul>
        <div *ngIf="userService.loggedIn()">
          <button data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="socketWebService.new_Ntf()" class="btn" (click)="nav.getNotifications()">
            <div *ngIf="socketWebService.new_Ntf()" class="mx-5">
              <i class="fa-solid fa-bell icon-notify"></i>
              <i class="fa-solid fa-1 icon-notify-new"></i>
            </div>
          </button>
          <button data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="!socketWebService.new_Ntf()" class="btn" (click)="nav.getNotifications()">
            <i *ngIf="!socketWebService.new_Ntf()" class="fa-solid fa-bell mx-5" style="color: white;"></i>
          </button>
        </div>
        <div class="btnAcc">
          <button *ngIf="!userService.loggedIn()" [routerLink]="['/login']" class="btn btn-primary">Iniciar sesión</button>
          <button *ngIf="userService.loggedIn()" (click)="logOut()" class="btn btn-danger">Cerrar sesión</button>
        </div>
      </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Notificaciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="nav.notifications">
          <div class="text-center" *ngIf="nav.notifications.length === 0">
            <h4>No tienes nuevas notificaciones</h4>
          </div>
        </div>
        <div *ngIf="nav.notifications">
          <div *ngFor="let notification of nav.notifications | paginate: {id: 'pageServ', itemsPerPage: 5, currentPage: p, totalItems: nav.notifications.length }">
            <div class="container">
              <h5 id="floatingInputGrid" *ngIf="notification.from">{{notification.from.company_idCompany.nameCompany}}</h5>
              <label for="floatingInputGrid" style="font-size: 20px;">{{notification.description}}, de <span *ngIf="notification.from"><small style="font-weight: 800; font-size: 23px;">{{notification.from.user}}</small></span><span *ngIf="notification.fromUser"><small style="font-weight: 800; font-size: 23px;">{{notification.fromUser.user}}</small></span></label>
              <button class="btn btn-primary" style="float: right;" (click)="redirect()">ver mas</button>
              <small class="m-2" style="float: right;">{{notification.date | date: 'dd/MM/yyyy'}}</small>
              <hr>
            </div>
          </div>
        </div>
        <hr>
        <div class="text-center">
          <button class="btn" (click)="redirect()">Ver todas</button>
        </div>
      </div>
    </div>
  </div>
</div>