.card{
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(163, 163, 163);
    background-image: url('https://cdn.pixabay.com/photo/2015/04/04/22/07/stone-707173_960_720.jpg');
    height: 200px;
    img{
        max-height: 400px;
    }
    h5{
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-weight: 900;
    }
}
.card:hover{
    background-image: url('https://cdn.pixabay.com/photo/2016/06/20/13/42/paper-1468878_960_720.jpg');

}