<div *ngIf="!userService.loggedIn()" class="container text-center py-5">
    <h2>para ver el contenido inicia sesión</h2>
    <button class="btn btn-primary mt-3" [routerLink]="['/login']">Iniciar sesión</button>
</div>

<div class="block" *ngFor="let rol of roles">
  <div *ngIf="rol.nameUserType === 'moderator'">
    <div class="row" *ngIf="userService.loggedIn()">
      <div class="col-md-12 text-center my-5">
          <h2>Modelos</h2>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-10">
          <table class="table" *ngIf="dataModels">
              <thead class="table-dark">
                  <tr class="text-center">
                      <th scope="col">Modelo</th>
                      <th scope="col">Opciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="text-center" *ngFor="let model of dataModels">
                      <th scope="row">{{model.nickname}}</th>
                      <td>
                          <button  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#launchBotModal" (click)="dataModel(model.nickname)">
                              Lanzar bots
                          </button>
                          <button  class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#killBotModal" (click)="dataModelKillbot(model.nickname)">
                              Matar bots
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="col-12 text-center mt-3" *ngIf="dataModels && dataModels.length === 0">
        <h3>No tienes ninguna modelo.</h3>
      </div>
      <div class="col-md-1"></div>
  </div>
  </div>
</div>

    
<div *ngIf="userService.loggedIn()">
  <div *ngIf="isAdmin && usuario">
    <div class="row">
      <div class="col-md-12 text-center my-5">
        <h1>bienvenido {{usuario.name}}</h1>
      </div>
      <div class="col-md-6" (click)="getSedes()">
        <div class="card text-white mx-3">
          <div class="card-img-overlay">
            <h5 class="card-title text-center my-5">CREAR USUARIOS</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6" (click)="getModels()">
        <div class="card text-white mx-3">
          <div class="card-img-overlay">
            <h5 class="card-title text-center my-5">MODELOS</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lanzar bots</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Lanzar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Launch bot-->
<div class="modal fade" id="launchBotModal" tabindex="-1" aria-labelledby="launchBotModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="launchBotModalLabel">Lanzar bots</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="launchBotsForm">
          <div class="col-md-12">
            <label for="nBots" class="form-label">Numéro de bots</label>
            <input type="number" formControlName="nBots" class="form-control" id="nBots" placeholder="Escribe el numéro de bots">
          </div>
          <div *ngIf="getValue('nBots')?.invalid && (getValue('nBots')?.touched || getValue('nBots')?.dirty)" class="mt-2">
            <p class="fieldErr" *ngIf="getValue('nBots')?.errors?.min">El numero minimo es 10</p>
            <p class="fieldErr" *ngIf="getValue('nBots')?.errors?.required">El campo es requerido</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" [disabled]="launchBotsForm.invalid" class="btn btn-primary" data-bs-dismiss="modal" (click)="launchBots()">Lanzar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal kill bot-->
<div class="modal fade" id="killBotModal" tabindex="-1" aria-labelledby="killBotModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="killBotModalLabel">kill bots</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="killBotsForm">
          <div *ngIf="lengthkillbots !== null" class="col-md-12">
            <span>Numero de bots corriendo:</span><h3>{{lengthkillbots}}</h3>
          </div>
          <div class="col-md-12">
            <label for="nBots" class="form-label">Numéro de killBots</label>
            <input type="number" formControlName="nBots" class="form-control" id="nBots" placeholder="Escribe el numéro de bots">
          </div>
          <div *ngIf="getValueKillbot('nBots')?.invalid && (getValueKillbot('nBots')?.touched || getValueKillbot('nBots')?.dirty)" class="mt-2">
            <p class="fieldErr" *ngIf="getValueKillbot('nBots')?.errors?.required">El campo es requerido</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" [disabled]="killBotsForm.invalid" class="btn btn-primary" data-bs-dismiss="modal" (click)="killBots()">Matar</button>
      </div>
    </div>
  </div>
</div>