@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

.top{
    width: 100%;
    height: 8%;
    background-image: url('https://cdn.pixabay.com/photo/2015/09/12/23/48/stripes-937568_960_720.jpg');
}

.title{
    h1{
        font-size: 45px;
        font-family: 'Chango', cursive;
        // margin-top: 20px;
        // margin: 20px;
    }
}

.iconReturn{
    font-size: 40px;
}

.iconTrash{
    font-size: 20px;
}

.fieldErr{
    color: red;
    font-size: 15px;
}