<div class="container">
  <div class="row">
    <div class="col-md-4">
        <button class="btn m-5" (click)="goBack()">
            <i class="fa-solid fa-angle-left" style="font-size: 35px;"></i>
        </button>
    </div>
    <div class="col-md-4 my-5 text-center">
      <h1>Seleccione la plataforma</h1>
    </div>
    <div class="col-md-4 my-3"></div>
    <div class="col-md-12 my-5"></div>
    <div class="col-md-12 my-3"></div>
    <div class="col-md-12 text-center">
      <div class="row row-cols-1 row-cols-md-3">
        <div *ngFor="let platform of platforms" class="col mb-4">
          <div class="card h-100 cardPlatform" (click)="redirect(platform.namePlatform)">
            <div class="card-body">
              <h5 class="card-title">{{platform.namePlatform}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

