<div class="container">
    <div class="row">
      <div class="col-md-12 my-5"></div>
      <div class="col-md-4">
        <button class="btn m-1" (click)="goBack()">
            <i class="fa-solid fa-angle-left" style="font-size: 35px;"></i>
        </button>
      </div>
      <div class="col-md-4 text-center">
        <h3>Escribe el nickname de la modelo</h3>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-2 my-5"></div>
      <div class="col-md-8 my-5 text-center">
        <div class="my-5">
            <input type="text" class="form-control" [(ngModel)]="nickname" placeholder="nombre de la modelo">
            <button class="btn btn-primary my-3" (click)="searchModel()">Buscar</button>
        </div>
        <div *ngIf="isLoading" class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div *ngIf="data$">
          <h4 class="my-5">Resultados de la busqueda</h4>
          <div class="card text-center">
              <div class="card-header" style="font-weight: 600; font-size: 25px;">
                {{data$.nickname}}
              </div>
              <div class="card-body">
                <h5 class="card-title">Seleccione el tipo de cuentas</h5>
                <div>
                  <select class="form-select" (change)="onChange($event)" [(ngModel)]="licenceSelect" aria-label="Default select">
                    <option selected>Selecciona un tipo</option>
                    <option [value]="licence._id" *ngFor="let licence of licences">{{licence.licenses_idLicense.nameLicense}}
                      -
                      <samp *ngIf="licence.licenses_idLicense.type === 'actsLogued'">Cuentas logueadas</samp>
                      <samp *ngIf="licence.licenses_idLicense.type === 'actsAny'">Cuentas anonimas</samp>
                      <samp *ngIf="licence.licenses_idLicense.type === 'actsMixed'">Cuentas mixtas</samp>
                      <samp *ngIf="licence.licenses_idLicense.type === 'actsLoguedAndFollow'">Cuentas logueadas con seguidores</samp>
                      <samp *ngIf="licence.licenses_idLicense.type === 'actsLoguedColor'">Cuentas logueadas de color</samp>
                      <samp *ngIf="licence.licenses_idLicense.type === 'actsLoguedSendMessage'">Cuentas logueadas con envio de mensajes</samp>
                    </option>
                  </select>
                </div>
                <div class="text-center mt-4" *ngIf="dataLicences && licenceSelect !== 'Selecciona un tipo'">
                  <h6>Bots disponibles de la licencia</h6>
                  <h5>{{dataLicences.acctsFree}}/{{dataLicences.acctsUsed}}</h5>
                  <div class="text-center mt-4" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsMixed'">
                    <h6>Bots anonimos disponibles</h6>
                    <h5>{{dataLicences.acctsFree*3}}</h5>
                  </div>
                </div>
              </div>
              <div class="card-footer text-muted">
                <button class="btn btn-primary m-2" [disabled]="!dataLicences || licenceSelect === 'Selecciona un tipo'" (click)="getLengthActsModel()" data-bs-toggle="modal" data-bs-target="#launchBotsmodal">
                  Lanzar bots
                </button>
                <button class="btn btn-primary m-2" [disabled]="!dataLicences || licenceSelect === 'Selecciona un tipo'" (click)="getLengthActsModel()" data-bs-toggle="modal" data-bs-target="#killbotsModal">
                  Matar bots
                </button>
              </div>
          </div>
        </div>
        <div class="text-center" style="margin-top: 100px;">
          <h3>Registros</h3>
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col"># de bots</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let register of registers | paginate: {id: 'pageBotC', itemsPerPage: 5, currentPage: p, totalItems: registersLength }">
                <th scope="row" *ngIf="register.nBots > 0">{{register.nameModel}}</th>
                <td *ngIf="register.nBots > 0">{{register.nBots}}</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="registers && registers.length > 0" class="col-md-12 text-center" style="padding: 10px;">
            <pagination-controls id="pageBotC" (pageChange)="p = $event"></pagination-controls>
          </div>
          <div *ngIf="registers">
            <h4 *ngIf="registers.length === 0">No tienes registros</h4>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="launchBotsmodal" tabindex="-1" aria-labelledby="launchBotsmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="launchBotsmodalLabel">Lanzar bots</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" [disabled]="launchBotDelay"></button>
      </div>
      <div class="modal-body" *ngIf="dataLicences">
        <div class="container">
          <form [formGroup]="launchBotsForm">
            <div *ngIf="lengthkillbots !== null" class="col-md-12">
              <span *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsMixed'">Numero total de bots mixtos corriendole a la modelo:</span>
              <span *ngIf="dataLicences.registerLicenses.licenses_idLicense.type !== 'actsMixed'">Numero de bots corriendole a la modelo:</span>
              <div class="row" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsMixed'">
                <div class="col-md-6 text-center">
                  <span>Bots logueados</span>
                  <h2>{{lengthkillbots}}</h2>
                </div>
                <div class="col-md-6 text-center">
                  <span>Bots anonimos</span>
                  <h2>{{botAnyLength}}</h2>
                </div>
              </div>
              <div class="row" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsLogued'">
                <div class="col-md-12 text-center">
                  <h2 *ngIf="!loadingInfo">{{lengthkillbots}}</h2>
                  <div *ngIf="loadingInfo" class="spinner-border m-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsAny'">
                <div class="col-md-12 text-center">
                  <h2 *ngIf="!loadingInfo">{{botAnyLength}}</h2>
                  <div *ngIf="loadingInfo" class="spinner-border m-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsLoguedAndFollow'">
                <div class="col-md-12 text-center">
                  <h2 *ngIf="!loadingInfo">{{botLengthFollow}}</h2>
                  <div *ngIf="loadingInfo" class="spinner-border m-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsLoguedColor'">
                <div class="col-md-12 text-center">
                  <h2 *ngIf="!loadingInfo">{{botColorsLength}}</h2>
                  <div *ngIf="loadingInfo" class="spinner-border m-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsLoguedSendMessage'">
                <div class="col-md-12 text-center">
                  <!-- <h2 *ngIf="!loadingInfo">{{botSendMessgeLength}}</h2> -->
                  <div *ngIf="loadingInfo" class="spinner-border m-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label for="nBots" class="form-label">Numéro de bots</label>
              <input type="number" formControlName="nBots" class="form-control" id="nBots" placeholder="Escribe el numéro de bots">
            </div>
            <div *ngIf="getValue('nBots')?.invalid && (getValue('nBots')?.touched || getValue('nBots')?.dirty)" class="mt-2">
              <p class="fieldErr" *ngIf="getValue('nBots')?.errors?.required">El campo es requerido</p>
            </div>
          </form>
          <div class="row text-center mt-3" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsMixed'">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">bots logueados</th>
                    <th scope="col">bots anonimos</th>
                    <th scope="col">bots a lanzar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{launchBotsForm.value.nBots}}</th>
                    <td>{{launchBotsForm.value.nBots*3}}</td>
                    <td>{{(launchBotsForm.value.nBots*3)+launchBotsForm.value.nBots}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsMixed'" class="text-center mt-4 p-2" style="background-color: #F3D688; border-radius: 10px;">
            <h6>Ten en cuenta que tu licencia es mixta es decir que por cada cuenta que lances se lanzaran 3 anonimas, <br> Por ejemplo si lanzas 10 logueadas se lanzaran 30 anonimas</h6>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" [disabled]="launchBotDelay" (click)="resetFormLaunch()">Cerrar</button>
        <button type="button" class="btn btn-primary" [disabled]="launchBotDelay" (click)="switchBots('launch')">
          <span *ngIf="!launchBotDelay">Lanzar</span>
          <div *ngIf="launchBotDelay" class="spinner-border text-light spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- killbots Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="killbotsModal" tabindex="-1" aria-labelledby="killbotsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="killbotsModalLabel">Matar bots</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" [disabled]="killBotDelay"></button>
      </div>
      <div class="modal-body" *ngIf="dataLicences">
        <div class="container">
          <form [formGroup]="killBotsForm">
            <div *ngIf="lengthkillbots !== null" class="col-md-12">
              <span *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsMixed'">Numero total de bots mixtos corriendole a la modelo:</span>
              <span *ngIf="dataLicences.registerLicenses.licenses_idLicense.type !== 'actsMixed'">Numero de bots corriendole a la modelo:</span>
              <div class="row" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsMixed'">
                <div class="col-md-6 text-center">
                  <span>Bots logueados</span>
                  <h2>{{lengthkillbots}}</h2>
                </div>
                <div class="col-md-6 text-center">
                  <span>Bots anonimos</span>
                  <h2>{{botAnyLength}}</h2>
                </div>
              </div>
              <div class="row" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsLogued'">
                <div class="col-md-12 text-center">
                  <h2 *ngIf="!loadingInfo">{{lengthkillbots}}</h2>
                  <div *ngIf="loadingInfo" class="spinner-border m-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsAny'">
                <div class="col-md-12 text-center">
                  <h2 *ngIf="!loadingInfo">{{botAnyLength}}</h2>
                  <div *ngIf="loadingInfo" class="spinner-border m-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsLoguedAndFollow'">
                <div class="col-md-12 text-center">
                  <h2 *ngIf="!loadingInfo">{{botLengthFollow}}</h2>
                  <div *ngIf="loadingInfo" class="spinner-border m-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsLoguedColor'">
                <div class="col-md-12 text-center">
                  <h2 *ngIf="!loadingInfo">{{botColorsLength}}</h2>
                  <div *ngIf="loadingInfo" class="spinner-border m-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsLoguedSendMessage'">
                <div class="col-md-12 text-center">
                  <!-- <h2 *ngIf="!loadingInfo">{{botSendMessgeLength}}</h2> -->
                  <div *ngIf="loadingInfo" class="spinner-border m-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label for="nBots" class="form-label">Numéro de killBots</label>
              <input type="number" formControlName="nBots" class="form-control" id="nBots" placeholder="Escribe el numéro de bots">
            </div>
            <div *ngIf="getValueKillbot('nBots')?.invalid && (getValueKillbot('nBots')?.touched || getValueKillbot('nBots')?.dirty)" class="mt-2">
              <p class="fieldErr" *ngIf="getValueKillbot('nBots')?.errors?.required">El campo es requerido</p>
            </div>
          </form>
          <div class="row text-center mt-3" *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsMixed'">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">bots logueados</th>
                    <th scope="col">bots anonimos</th>
                    <th scope="col">bots a lanzar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{killBotsForm.value.nBots}}</th>
                    <td>{{killBotsForm.value.nBots*3}}</td>
                    <td>{{(killBotsForm.value.nBots*3)+killBotsForm.value.nBots}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div *ngIf="dataLicences.registerLicenses.licenses_idLicense.type === 'actsMixed'" class="text-center mt-4 p-2" style="background-color: #F3D688; border-radius: 10px;">
            <h6>Ten en cuenta que tu licencia es mixta es decir que por cada cuenta que mates se mataran 3 anonimas, el número que aparece en la parte superior muesta el total de cuentas corriendo es decir la suma de las logueadas y las anonimas,<br> Por ejemplo si en la parte superior dice 40 solo tienes que matar 10 cuentas</h6>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetFormKill()" [disabled]="killBotDelay">Cerrar</button>
        <button [disabled]="killBotDelay" type="button" class="btn btn-primary" (click)="switchBots('kill')" [disabled]="killBotDelay">
          <span *ngIf="!killBotDelay">Matar</span>
          <div *ngIf="killBotDelay" class="spinner-border text-light spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>