.bg{
    background-image: url("https://images2.alphacoders.com/590/thumb-1920-590356.jpg");
    background-position: center center;
}
.fieldErr{
    color: red;
    margin-left: 5px;
}
.olvPass{
    float: right;
}

.bg-Reg{
    background-image: url("https://images8.alphacoders.com/122/thumb-1920-1225728.jpg");
    background-position: center center;
}
