<div class="row">
    <div class="col-4 col-sm-4 col-md-4">
        <button class="btn m-3" (click)="goBack()">
            <i class="fa-solid fa-angle-left" style="font-size: 35px;"></i>
        </button>
    </div>
    <div class="col-4 col-sm-4 col-md-4">
        <h1 class="text-center my-4">Proxys</h1>
    </div>
    <div class="col-4 col-sm-4 col-md-4"></div>
    <div class="col-md-12 text-center">
        <button [disabled]="!ifBot" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#addProxyModal">
            <i class="fa-solid fa-plus"></i>
            Añadir proxys
        </button>
        <button [disabled]="proxysLength <= 0 || loadingMs" (click)="latencia()" style="max-height: 40px; min-width: 160px;" class="btn btn-success m-3">
          <div *ngIf="!loadingMs">
              <i class="fa-solid fa-wifi"></i>
              Medir latencias
          </div>
          <div *ngIf="loadingMs" class="spinner-border" style="width: 25px; height: 25px;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
    </div>
    <div class="col-1 col-md-1"></div>
    <div class="col-10 col-md-10">
        <table class="table" *ngIf="proxys">
            <thead class="table-dark">
              <tr class="text-center">
                <th scope="col">Proxy</th>
                <th scope="col">Num Usuarios</th>
                <th scope="col">Id paquete</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Estado</th>
                <th scope="col">Latencia</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngFor="let proxy of proxys | paginate: {id: 'pageBotC', itemsPerPage: 15, currentPage: p, totalItems: proxysLength }">
                <th>{{proxy.proxy}}</th>
                <td>{{proxy.Nusers}}</td>
                <td>{{proxy.idPackage.id}}</td>
                <td>
                    <i *ngIf="!proxy.isFull" class="fa-solid fa-circle-check" style="color: green;"></i>
                    <i *ngIf="proxy.isFull" class="fa-solid fa-circle-xmark" style="color: red;"></i>
                </td>
                <td>
                    <i *ngIf="!proxy.isDown" class="fa-solid fa-circle-check" style="color: green;"></i>
                    <i *ngIf="proxy.isDown" class="fa-solid fa-circle-xmark" style="color: red;"></i>
                </td>
                <td>{{proxy.ms}} <span style="font-weight: 700;">ms</span></td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12 text-center" style="padding: 10px;">
            <pagination-controls id="pageBotC" (pageChange)="p = $event"></pagination-controls>
          </div>
          <div *ngIf="!proxys" class="text-center">
            <h3>No tienes proxys o no pudiero cargar</h3>
          </div>
    </div>
    <div class="col-1 col-md-1"></div>
</div>




<!-- Modal -->
<div class="modal fade" id="addProxyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProxyModalLabel">Agregar proxys</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-12 col-md-12">
                <form class="row" [formGroup]="proxysForm">
                    <div class="col-12 col-md-12 mb-3">
                      <label for="formGroupPlatformPack" class="form-label">Plataforma</label>
                      <select class="form-select" formControlName="platformProxys" aria-label="Default select example" id="formGroupPlatformPack">
                        <option selected></option>
                        <option value="instantproxies">Instantproxies</option>
                      </select>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                      <label for="formGroupIdPack" class="form-label">Id paquete</label>
                      <input formControlName="idPackageProxys" type="text" class="form-control" placeholder="Ingrese el Id de paquete" id="formGroupIdPack">
                      <div *ngIf="getValue('idPackageProxys')?.invalid && (getValue('idPackageProxys')?.touched || getValue('idPackageProxys')?.dirty)">
                        <p class="fieldErr" *ngIf="getValue('idPackageProxys')?.errors?.required">El campo es requerido</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                      <label for="formGroupDatePack" class="form-label">Fecha de caducidad</label>
                      <input formControlName="datePackageProxys" type="date" class="form-control" placeholder="Ingrese la fecha de caducidad" id="formGroupDatePack">
                      <div *ngIf="getValue('datePackageProxys')?.invalid && (getValue('datePackageProxys')?.touched || getValue('datePackageProxys')?.dirty)">
                        <p class="fieldErr" *ngIf="getValue('datePackageProxys')?.errors?.required">El campo es requerido</p>
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="floatingTextarea2">Escribe los proxys</label>
                        <textarea formControlName="proxysStrings" class="form-control mt-2" placeholder="Pega acá tus proxys" id="floatingTextarea2" style="height: 200px"></textarea>
                        <div *ngIf="getValue('proxysStrings')?.invalid && (getValue('proxysStrings')?.touched || getValue('proxysStrings')?.dirty)">
                            <p class="fieldErr" *ngIf="getValue('proxysStrings')?.errors?.required">El campo es requerido</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveProxys()" [disabled]="proxysForm.invalid">Guardar proxys</button>
      </div>
    </div>
  </div>
</div>