<!-- add company -->
<div class="row" *ngIf="!edit">
    <div class="col-md-4">
        <button class="btn m-3" (click)="goBack()">
            <i class="fa-solid fa-angle-left" style="font-size: 35px;"></i>
        </button>
    </div>
    <div class="col-md-4">
        <h1 class="text-center my-4">Crear compañia</h1>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-1 col-md-1"></div>
    <div class="col-10 col-md-10">
        <form class="row" [formGroup]="companyCreateForm">
            <div class="col-md-6 mb-3">
                <label for="formGroupExampleInput" class="form-label">Nombre</label>
                <input formControlName="nameCompany" type="text" class="form-control" placeholder="Ingrese el nombre" id="formGroupExampleInput">
                <div *ngIf="getValueCreate('nameCompany')?.invalid && (getValueCreate('nameCompany')?.touched || getValueCreate('nameCompany')?.dirty)">
                    <p class="fieldErr" *ngIf="getValueCreate('nameCompany')?.errors?.required">El campo es requerido</p>
                  </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="formGroupExampleInput3" class="form-label">Telefono</label>
                <input formControlName="telephoneCompany" type="text" class="form-control" placeholder="Ingrese el Telefono" id="formGroupExampleInput2">
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Tipo</label>
                <select id="inputState" class="form-select" formControlName="typeCompany">
                  <option selected></option>
                  <option>Estudio</option>
                  <option>Modelo</option>
                </select>
                <div *ngIf="getValueCreate('typeCompany')?.invalid && (getValueCreate('typeCompany')?.touched || getValueCreate('typeCompany')?.dirty)">
                    <p class="fieldErr" *ngIf="getValueCreate('typeCompany')?.errors?.required">El campo es requerido</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="formGroupExampleInput3" class="form-label">Dirección</label>
                <input formControlName="addressCompany" type="text" class="form-control" placeholder="Ingrese la dirección" id="formGroupExampleInput3">
            </div>
            <div class="col-md-12 mb-3">
                <label for="formGroupExampleInput4" class="form-label">Logo</label>
                <input type="text" class="form-control" id="formGroupExampleInput4" disabled>
            </div>
        </form>
        <div class="text-center" style="margin-top: 30px; margin-bottom: 20px;">
            <button class="btn btn-primary content" (click)="createCompany()" [disabled]="companyCreateForm.invalid">Continuar</button>
        </div>
    </div>
    <div class="col-1 col-md-1"></div>
</div>


<!-- Edit company -->

<div class="row" *ngIf="edit">
  <div class="col-md-4">
      <button class="btn m-3" (click)="goBack()">
          <i class="fa-solid fa-angle-left" style="font-size: 35px;"></i>
      </button>
  </div>
  <div class="col-md-4">
      <h1 class="text-center my-4">Editar compañia</h1>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-1 col-md-1"></div>
  <div class="col-10 col-md-10">
      <div class="row">
          <div class="col-md-6 mb-3">
              <label for="formGroupExampleInput" class="form-label">Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="company.nameCompany" placeholder="Ingrese el nombre" id="formGroupExampleInput">
              <div *ngIf="company.nameCompany === ''">
                <p class="fieldErr">El campo es requerido</p>
            </div>
          </div>
          <div class="col-md-6 mb-3">
              <label for="formGroupExampleInput3" class="form-label">Telefono</label>
              <input type="text" class="form-control" [(ngModel)]="company.telephoneCompany" placeholder="Ingrese el Telefono" id="formGroupExampleInput2">
          </div>
          <div class="col-md-6 mb-3">
              <label for="formGroupExampleInput3" class="form-label">Dirección</label>
              <input type="text" class="form-control" [(ngModel)]="company.addressCompany" placeholder="Ingrese la dirección" id="formGroupExampleInput3">
          </div>
          <div class="col-md-6 mb-3">
              <label for="formGroupExampleInput4" class="form-label">Logo</label>
              <input type="text" class="form-control" id="formGroupExampleInput4" disabled>
          </div>
          <div class="col-md-12 mb-3">
            <button class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#createLicenseModal">Agregar licencia</button>
            <button class="btn btn-warning m-1" data-bs-toggle="modal" data-bs-target="#addBotContainerModal">Agregar bot container</button>
          </div>
      </div>
      <div class="text-center" style="margin-top: 30px; margin-bottom: 20px;">
          <button class="btn btn-primary" (click)="updateCompany()" [disabled]="company.nameCompany === ''">Guardar cambios</button>
      </div>
  </div>
  <div class="col-1 col-md-1"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Compañia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1 *ngIf="arrayLicences.length === 0">Crear suscripción</h1>
        <div class="col-md-12">
          <form class="row" *ngIf="arrayLicences.length === 0" [formGroup]="registerLicensesCreateForm">
            <div class="col-md-6 mb-3">
                <label for="formGroupExampleInput" class="form-label">Fecha inicial</label>
                <input formControlName="initialDateLicense" type="date" class="form-control" id="formGroupExampleInput">
                <div *ngIf="getValueCreateRegisterLicenses('initialDateLicense')?.invalid && (getValueCreateRegisterLicenses('initialDateLicense')?.touched || getValueCreateRegisterLicenses('initialDateLicense')?.dirty)">
                    <p class="fieldErr" *ngIf="getValueCreateRegisterLicenses('initialDateLicense')?.errors?.required">El campo es requerido</p>
                  </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="formGroupExampleInput3" class="form-label">Meses de duración</label>
                <input formControlName="monthsDuration" type="number" class="form-control" placeholder="Ingrese los meses de duración" id="formGroupExampleInput2">
                <div *ngIf="getValueCreateRegisterLicenses('monthsDuration')?.invalid && (getValueCreateRegisterLicenses('monthsDuration')?.touched || getValueCreateRegisterLicenses('monthsDuration')?.dirty)">
                  <p class="fieldErr" *ngIf="getValueCreateRegisterLicenses('monthsDuration')?.errors?.required">El campo es requerido</p>
              </div>
            </div>
            <div class="col-md-12">
                <label for="inputState" class="form-label">Licencia</label>
                <select id="inputState" class="form-select" formControlName="licenses_idLicense">
                  <option selected></option>
                  <option [value]="licence._id" *ngFor="let licence of licences">{{licence.nameLicense}}</option>
                </select>
                <div *ngIf="getValueCreateRegisterLicenses('licenses_idLicense')?.invalid && (getValueCreateRegisterLicenses('licenses_idLicense')?.touched || getValueCreateRegisterLicenses('licenses_idLicense')?.dirty)">
                    <p class="fieldErr" *ngIf="getValueCreateRegisterLicenses('licenses_idLicense')?.errors?.required">El campo es requerido</p>
                </div>
            </div>
            <button class="btn btn-primary mt-3" (click)="createRegisterLiceses()" type="submit" [disabled]="registerLicensesCreateForm.invalid">Crear suscripción</button>
          </form>
          <div *ngIf="arrayLicences.length > 0">
            <div class="text-center">
              <h3>Contenedor de bot</h3>
              <table class="table">
                  <thead class="table-dark">
                    <tr class="text-center">
                      <th scope="col">IP</th>
                      <th scope="col">Tipo</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center" *ngFor="let botContainer of botContainers">
                      <th>{{botContainer.ip}}</th>
                      <td>{{botContainer.typeBot}}</td>
                      <td>
                          <button class="btn btn-primary" (click)="addBotContainer(botContainer)">Añadir</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>

            <div class="text-center" style="margin-top: 70px;" *ngIf="arraybotContainers.length > 0">
              <h3>Contenedores de bot seleccionados</h3>
              <table class="table">
                  <thead class="table-dark">
                    <tr class="text-center">
                      <th scope="col">IP</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center" *ngFor="let arraybotContainer of arraybotContainers">
                      <th>{{arraybotContainer.ip}}</th>
                      <td>
                          <button class="btn btn-danger" (click)="deleteBotContainer(arraybotContainer)">Quitar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateArraysCompany()" [disabled]="arrayLicences.length === 0">Crear compañia</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal create licence -->
<div class="modal fade" id="createLicenseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createLicenseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createLicenseModalLabel">Crear licencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <form class="row" [formGroup]="registerLicensesCreateForm">
            <div class="col-md-6 mb-3">
                <label for="formGroupExampleInput" class="form-label">Fecha inicial</label>
                <input formControlName="initialDateLicense" type="date" class="form-control" id="formGroupExampleInput">
                <div *ngIf="getValueCreateRegisterLicenses('initialDateLicense')?.invalid && (getValueCreateRegisterLicenses('initialDateLicense')?.touched || getValueCreateRegisterLicenses('initialDateLicense')?.dirty)">
                    <p class="fieldErr" *ngIf="getValueCreateRegisterLicenses('initialDateLicense')?.errors?.required">El campo es requerido</p>
                  </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="formGroupExampleInput3" class="form-label">Meses de duración</label>
                <input formControlName="monthsDuration" type="number" class="form-control" placeholder="Ingrese los meses de duración" id="formGroupExampleInput2">
                <div *ngIf="getValueCreateRegisterLicenses('monthsDuration')?.invalid && (getValueCreateRegisterLicenses('monthsDuration')?.touched || getValueCreateRegisterLicenses('monthsDuration')?.dirty)">
                  <p class="fieldErr" *ngIf="getValueCreateRegisterLicenses('monthsDuration')?.errors?.required">El campo es requerido</p>
              </div>
            </div>
            <div class="col-md-12">
                <label for="inputState" class="form-label">Licencia</label>
                <select id="inputState" class="form-select" formControlName="licenses_idLicense">
                  <option selected></option>
                  <option [value]="licence._id" *ngFor="let licence of licences">{{licence.nameLicense}}</option>
                </select>
                <div *ngIf="getValueCreateRegisterLicenses('licenses_idLicense')?.invalid && (getValueCreateRegisterLicenses('licenses_idLicense')?.touched || getValueCreateRegisterLicenses('licenses_idLicense')?.dirty)">
                    <p class="fieldErr" *ngIf="getValueCreateRegisterLicenses('licenses_idLicense')?.errors?.required">El campo es requerido</p>
                </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createRegisterLiceses()" [disabled]="registerLicensesCreateForm.invalid">Crear licencia</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal agregate bot container -->
<div class="modal" id="addBotContainerModal" tabindex="-1" aria-labelledby="addBotContainerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addBotContainerModalLabel">Agregar contenedor de bot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div>
            <div class="text-center">
              <table class="table">
                  <thead class="table-dark">
                    <tr class="text-center">
                      <th scope="col">IP</th>
                      <th scope="col">Tipo</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center" *ngFor="let botContainer of botContainers">
                      <th>{{botContainer.ip}}</th>
                      <td>{{botContainer.typeBot}}</td>
                      <td>
                          <button class="btn btn-primary" (click)="updateBotContainers(botContainer._id)">Añadir</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>