.title{
    h1{
        font-size: 45px;
    }
}

.iconReturn{
    font-size: 40px;
}

.iconTrash{
    font-size: 20px;
}

.fieldErr{
    color: red;
    font-size: 15px;
}

.iconReturn{
    font-size: 40px;
}

.icon-R{
    color: rgb(0, 0, 0);
    font-size: 50px;
}